@charset "utf-8";
/* CSS Document */


		h1 {font-family: 'Mansalva', cursive;}
		body{background-color: #ff5722;}
		

		.navbar ul li {
			display:inline;
		}
		ul a {
			padding:8px; 
			color:white; 
			background-color:#008000; 
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		}
		.navbar a{
		 text-decoration:none; width:8em;
		}
		li .navbar a:hover,
		li .navbar a:active
		{
			border-style:inset; 
			color:green;
		}
		
		.logo{
			width:20%;
			float:left;
		}
		.navbar{
			/*width:80%;*/
			float:left;
		}
		
		.hide{
			display:none;
		}
		
		ul,li{
			margin:0;
			padding:10px;
			list-style-type: none;
		}
		
		header{
			background-color:black;
			width:100%;
			display: block;
			padding: 5px;
		}
	
		.fix{
			
			clear:both;
		}
		
		
		
		.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  color: black;
}

.active {

  color: white;
}
